body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
}
#image{
    transition: all 0.25s;
    cursor: pointer;
}
#image:hover{
    opacity: 0.8;
}
.homescreen{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    height: 80vh;
    align-items: center;
    justify-content: center;
    width: 90vw;
}
.hm{
    transition: all 0.25s;
}
.hm:hover{
    opacity: 0.6;
}
#next{
    position: absolute;
    right: 50px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.25s;
}
#back{
    position: absolute;
    left: 50px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.25s;
}
#back:hover,#next:hover{
    transform: scale(1.5);
}
#home{
    position: absolute;
    top: 20px;
    right: 40px;
    text-decoration: underline;
    cursor: pointer;
}
#home:hover{
    text-decoration: none;
    color: rgb(56, 52, 52);
}
#error{
    display: none;
}
#nameInApi,#id,#type{
    margin: 0px;
}
#suggestions {
    list-style: none;
    padding: 0;
    margin: 2px 0 0 0;
    width: 178px;
    background: white;
    border: 1px solid #aaa;
    max-height: 150px;
    overflow-y: auto;
}
#suggestions li {
    padding: 2px 8px;
    cursor: pointer;
    color: rgb(65, 63, 63);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 14px;
}
#suggestions li:hover{
    background: lightgray;
}
.highlight{
    font-weight: bold;
    color: black;
}