body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(45, 44, 44);
    color: white;
}
#image{
    transition: all 0.25s;
    cursor: pointer;
}
#image:hover{
    opacity: 0.8;
}
.homescreen{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    height: 80vh;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin-top: 50px;
}
.hm{
    transition: all 0.25s;
}
.hm:hover{
    opacity: 0.6;
}
#next{
    position: absolute;
    right: 50px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.25s;
}
#back{
    position: absolute;
    left: 50px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.25s;
}
#back:hover,#next:hover{
    transform: scale(1.5);
}
#home{
    position: absolute;
    top: 20px;
    right: 40px;
    text-decoration: underline;
    cursor: pointer;
}
#home:hover{
    text-decoration: none;
    color: rgb(213, 198, 198);
}
#error{
    display: none;
}
#nameInApi,#id,#type{
    margin: 0px;
}