body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #32373b;
    margin: 0px;
}
#header{
    height: 70px;
    width: 100%;
    background-color: #2c2a2a;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image{
    transition: all 0.25s;
    cursor: pointer;
}
#image:hover{
    opacity: 0.8;
}
.homescreen{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    height: 80vh;
    align-items: center;
    justify-content: center;
    width: 90vw;
}
.hm{
    transition: all 0.25s;
}
.hm:hover{
    opacity: 0.6;
}
#next{
    position: absolute;
    right: 50px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.25s;
}
#back{
    position: absolute;
    left: 50px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.25s;
}
#back:hover,#next:hover{
    transform: scale(1.5);
}
#home{
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 40px;
    color: black;
    transition: all 0.25s;
}
#home:hover{
    text-decoration: none;
    color: #ee1515;
}
.search{
    margin-top: 20px;
    background-color: #222224;
    padding: 15px;
    border-radius: 10px;
}
#error{
    display: none;
}
#nameInApi,#id,#type{
    margin: 0px;
}
#suggestions {
    list-style: none;
    padding: 0;
    margin: 2px 0 0 0;
    width: 178px;
    background: rgb(150, 140, 140);
    box-shadow: 4px 4px 4px #757577;
    max-height: 150px;
    overflow-y: auto;
}
#suggestions li {
    padding: 2px 8px;
    cursor: pointer;
    color: rgb(65, 63, 63);
    font-size: 14px;
}
#suggestions li:hover{
    background: lightgray;
}
.highlight{
    font-weight: bold;
    color: black;
}
#heading{
    opacity: 0.5;
    -webkit-text-stroke: 0.5px black;
    color: #f00000;
    text-shadow: 0 0 3px red;
}
#fetch,#shiny{
    color: #f0f0f0;
    background-color: #ee1515;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.25s;
}
#shiny{
    box-shadow: 0 0 10px #ee1515;
}
#fetch:hover,#shiny:hover{
    opacity: 0.7;
    transform: scale(1.05) translateY(-2px);
}
#pkmnName{
    padding: 3px 0px;
    border-radius: 5px;
    color: white;
    background-color: black;
    border: 1px solid #6a6a6d;
    font-size: 16px;
}
#pkmnName:focus{
    outline: none;
}